@import "../../../../twitter/bootstrap/less/wells";
.thumbnail.well {
  padding: 19px !important;
  border: none;
}
.well {
    hr {
        border: none;
        height: 1px;
        .linear-gradient(#232728, @brand-primary);
    }
    .well-title {
        background: @brand-primary;
        color: #000;
        position: relative;
        top: -17px;
        left: -17px;
        right: -17px;
        width: auto;
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
        margin-right: -34px;
        display: block;
        .box-shadow(~"rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset");
    }
    .well-title-bottom {
        background: @brand-primary;
        color: #000;
        position: relative;
        bottom: -18px;
        left: -17px;
        right: -17px;
        width: auto;
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
        border-top: 2px solid #000;
        margin-right: -34px;
        display: block;
        height: 20px;
        .box-shadow(~"rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset");
    }
    .well-title-info {
        background: #9081b0;
    }
    .well-title-success {
        background: #88b081;
    }
}
.well-small {
    .well-title {
        background: @brand-primary;
        color: #000;
        position: relative;
        top: -7px;
        left: -7px;
        right: -7px;
        width: auto;
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
        border-bottom: 2px solid #000;
        margin-right: -14px;
        display: block;
        .box-shadow(~"rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset");
    }
    .well-title-bottom {
        background: @brand-primary;
        color: #000;
        position: relative;
        bottom: -8px;
        left: -7px;
        right: -7px;
        width: auto;
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
        border-top: 2px solid #000;
        margin-right: -14px;
        display: block;
        height: 20px;
        .box-shadow(~"rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset");
    }
}
.well-title a,
.well-title-bottom a {
    color: #000;
}
.well-btn {
    background: @darkPrimary;
    color: #000;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0px 10px;
    .box-shadow(~"rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset");
    &:hover {
        background: #6e9da4;
    }
    a {
        color: #000;
    }
}
.well-btn-right {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.well-btn-left {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.well-btn-danger {
    background: #5b1418;
    &:hover {
        background: #aa7f6e;
    }
}